.heading {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .example-full-width {
      width: fit-content !important;
  }

  .fitContent {
      width: fit-content !important;
  }